body {
    background-color: goldenrod;
}

@font-face {
    font-family: "Hook Franco";
    src: url('Hook Franco.ttf');
  }

#main {
    background-color: white;
    width: 850px;
    height: auto;
    border: 20px solid white;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: -10px;
}

#title {
    font-family: 'Hook Franco',cursive;
    color: crimson;
    font-size: 111px;
}